.root{
    -fx-background-image: url("/Images/backgroundCharacter3.jpg");
    -fx-background-size: cover;
    -fx-font-weight: bold;
    -fx-font-size:120%
}


Button {
    -fx-text-fill: black ;
    -fx-font-family: "Algerian";
    -fx-font-weight: bold;
    -fx-background-image: url("/Images/GOT12.jpg");
    -fx-effect: dropshadow( three-pass-box, FLORALWHITE, 10.0, 0.0, 0.0, 0.0);
}

Button:hover{
    -fx-effect: dropshadow( gaussian , rgba(15, 120, 237, 0.6), 5, 10 , 0 , 1 );

    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: FLORALWHITE;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

RadioButton{
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.6), 5, 0.0 , 0 , 1 );
    -fx-font-family: "Algerian";
    -fx-wrap-text: true;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    /*-fx-background-image: url("/Images/GOT12.jpg");*/
    -fx-background-radius: 16.4, 15;
    -fx-background-insets: -1.4, 0;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-background-size: 150 150;
    -fx-background-position: center center;
}
RadioButton:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: #0995ed;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;

}
RadioButton:selected{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: #0995ed;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;

}